/* Animations */

@keyframes floatFromUp {
    0% {
        transform: translateX(-100%);
        opacity: 0.0;
    }

    50% {
        transform: translateX(0%);
        opacity: 1.0;

    }

    70% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes floatFromLeft {
    0% {
        transform: translateX(100%);
        opacity: 0.0;
    }

    50% {
        transform: translateX(0%);
        opacity: 1.0;

    }

    70% {
        transform: translateX(5%);
    }

    100% {
        transform: translateX(0%);
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(5%);
    }

    30% {
        opacity: 1;
    }
    

    100% {
        transform: translateY(0%);

        
    }
}

.fadeInFirst {
    animation: fadeIn 1s ease-in;
}

.fadeInSecond {
    animation: fadeIn 2s ease-in;
}

.fadeInThird {
    animation: fadeIn 3s ease-in;
}

.fadeInFourth {
    animation: fadeIn 4s ease-in;
}

.fadeInFifth {
    animation: fadeIn 2.5s ease-in;
}




.showcase-form {
    animation: floatFromLeft 0.7s ease-in;
}