/* Animations */

@keyframes floatFromUp {
    0% {
        transform: translateX(-100%);
        opacity: 0.0;
    }

    50% {
        transform: translateX(0%);
        opacity: 1.0;

    }

    70% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes floatFromLeft {
    0% {
        transform: translateX(100%);
        opacity: 0.0;
    }

    50% {
        transform: translateX(0%);
        opacity: 1.0;

    }

    70% {
        transform: translateX(5%);
    }

    100% {
        transform: translateX(0%);
    }
}

.show-case-para {
    animation: floatFromUp 1s ease-in;

}

.showcase-form {
    animation: floatFromLeft 1s ease-in;
}