/* Animations */

@keyframes floatFromUp {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translate(0px)
    }
}

@keyframes floatFromLeft {
    0% {
        transform: translateX(100%);
        opacity: 0.0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1.0;
    }
}

.show-case-para {
    animation: floatFromUp 0.6s ease-in;

}

.showcase-form {
    animation: floatFromLeft 0.6s ease-in;
}