.navbar h1,h2 {
    color: white;

}

a {
    text-decoration: none;
}

nav ul {
    display: flex;
}
nav ul a {
    color: white;
}



nav ul li {
    list-style-type: none;
    
}

.container {
    max-width: 1100px;
    overflow:auto;
    margin:0 auto;
    padding: 0 40px;
}

.navbar {
    width: 100%;
    background-color: var(--secondary-color);
    position: relative;
}

.navbar a {
    margin: 0 5px;
    padding:10px;
    color:white;
}

.navbar a:hover {
    border-bottom: 2px var(--white-color) solid;
}

.navbar .flex {
    justify-content: space-between;
    -ms-overflow-style: none;
    scrollbar-width:none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}



.container {
    max-width: 1100px;
    overflow:auto;
    margin:0 auto;
    padding: 0 40px;
}

.navbar {
    width: 100%;
    background-color: var(--secondary-color);
    position: relative;
}

.navbar .flex::-webkit-scrollbar  {
    display: none;
}

/* Ths the showcase style */
.show-case {
    background-color: var(--secondary-color);
    height: 300px;
    position: relative;
    padding: 30px 0;
    z-index: 1;
    width: 100%;
}

/* grids */

.grid {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: visible;
    gap:40px;

}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.card {
    position: relative;
    top:60px;
    background-color: var(--white-color);
    border-radius: 9px;
    padding: 20px;
    height: 300px;
    width: 300px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.2);
}

.btn {
    display: inline-block;
    padding:10px 20px;
    margin: 5px 0;
    background-color: var(--secondary-color);
    border:0;
    border-radius: 3px;
    cursor: pointer;
    color: var(--white-color);
}

.btn:hover {
    transform:scale(0.98)
}

.show-case::before,.show-case::after{
    position: absolute;
    left: 0;
    bottom:0;
    top:280px;
    content: '';
    width: 100%;
    height: 100px;
    background-color: var(--white-color);
    z-index: 0;
    transform: skewY(-3deg);
    border-radius: 100%;
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);

}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
    background-color: var(--white-color);
    display: block;
    padding:5px;
    margin:30px 0;
    border:0;
    border-bottom:1px solid var(--secondary-color);
    width: 100%;

}

.showcase-form {
    z-index: 100;
}

input:focus {
    outline: none;
    border-bottom:5px solid rgb(47, 219, 56);

}

.show-case .showcase-form p, .show-case .showcase-form h1 {
    margin:1px 0;
}

.show-case .card {
    justify-self: flex-end;
}

.btn-outline {
    background-color: transparent;
    border: 1px solid var(--white-color);
    color: var(--white-color);
}

.show-case-para h1{
    color: var(--white-color);
    
}

.show-case-para p{
    font-size: 0.8rem;
    color:var(--white-color);
}

/* stats begin here */

.stats {
    padding-top: 160px;
    
}

.stats p {
    font-size: 1.2re;
    text-align: center;
}

.stats i {
    font-size: 2.5rem;
    text-align: center;
    display: block;
}

.stats h1 {
    text-align: center;
    font-size: 2.3rem;
}

.stats-heading {
    max-width: 500px;
    margin:auto;
    padding:30px 0;
}

/* CLi Starts here */

.cli {
    margin: 30px 0;
    padding: 30px 0;
}
.cli .card {
    height: 100%;
    text-align: center;
    justify-content: center;
    padding: auto;
}

.cli img {
    height: 100%;
}

.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    height: 120px;

}

.cli  .grid > *:first-child {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
    width: 100%;
}

/* styles belong to the cloud class */
.cloud {
    padding-top:60px;
    margin: 160px 0 0 0;
    padding: 10px 30px 20px 0;

    background-color: var(--secondary-color);
}

.cloud .grid {
    grid-template-columns: 4fr 3fr;
}

.cloud img{
    border-radius:9px;

}

/* Language class */
.languages {
    margin: 30px 0;
}

.languages .flex {
    overflow: visible;
    height: 100%;

}
.languages .card {
    text-align: center;
    padding: 30px;
    height: 150px;
    margin:10px;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 140px;
}

.languages .card:hover {
    transform: translateY(-9px);
}

/* Styling for the footer */
.footer {
    padding: 20px;
    background-color:var(--secondary-color);
    color: var(--white-color);
    height: 100%;
}

.footer ul {
    display: flex;
    flex-direction: column;
    list-style-type:none;
}

.footer ul li {
    margin:5px;
}
.footer a {
    color: var(--white-color);
}

.footer span {
    margin: 5px;
}

/* Tablets and under */

@media (max-width:768px){
    .show-case .grid,
    .cloud .grid,
    .footer .grid ,
    .stats .grid{
        grid-template-columns: 1fr;
    }

    .languages .flex {
        flex-wrap: wrap;

    }

    .cli .grid {
        grid-template-columns: 1fr;
        height: auto;
    }

    .cli .card {
        height: auto;
    }

    .show-case {
        margin: auto;
        height: auto;
    }

    .showcase-form {
        justify-self: center;
    }

    .show-case::before,.show-case::after{
        position: absolute;
        left: 0;
        bottom:0;
        top:520px;
        content: '';
        width: 100%;
        height: 100px;
        background-color: var(--white-color);
        z-index: 0;
        transform: skewY(-3deg);
        border-radius: 100%;
        -webkit-transform: skewY(-3deg);
        -moz-transform: skewY(-3deg);
        -ms-transform: skewY(-3deg);
    
    }


}

/* small sphones and under */
@media (max-width:500px) {

    .navbar {
        height: 110px;

    }
    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        background-color: rgba(0,0,0,0.1);
        padding: 10px;
    }
}